<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear todo</title>
</head>
<body>
    <form action="/create_todo" method="POST">
        <label for="todo-name">Nombre del todo</label>
        <input type="text" name="todo-name">
        <label for="todo-description">Descripcion del todo</label>
        <input type="'text" name="todo-description">
        <button type="submit">Crear todo</button>
    </form>
</body>
</html>