<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Todos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <p>{% for element in list_todo%}</p>
    <h2>Nombre del todo</h2>
    <p>{{element.name}}</p>
    <h2>Descripcion del todo</h2>
    <p>{{element.description}}</p>
    <p>{%endfor%}</p>

    <div class="px-4 sm:px-6 lg:px-8">
        <p>{% for element in list_todo%}</p>
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nombre del Todo</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Descripcion del Todo</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <!-- elementos de la lista --> 
                <tbody class="divide-y divide-gray-200">
                  <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{element.name}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{element.description}}</td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    </td>
                  </tr>
      
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      



</body>
</html>